@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    
    
}
:root{
    --primary-color:#10B981;
    --lightgreen-color:#6EE7B7;
    --border-color:#34D399;
    --darkgreen-color:#047857;
}
.container{
    display:block;
    //flex-direction: column;
    width:70vw;
    margin:auto;
}

.heading{
   color:var(--primary-color);
 
   margin: 1rem auto;
   font-size: 3rem;
   text-align: center;
}
.hero-img{
    display:flex;
    max-width:25vw;
    margin:auto;
}
.description{
    display: block;
    margin:auto;
    text-align: center;
    font-size:1.3rem;

}


label{
    font-weight: bold;
    margin:auto;
    display:block;
    padding:2rem 0.5rem 1rem 0.5rem;
    font-size:1.4rem;
    text-align: center;
}

#bill-amount,#cash-given{
    display:block;
    margin:auto;
    padding:0.5rem 1rem;
    width:25vw;
    height:2vw;
    border:1.5px solid var(--border-color);
    border-radius: 0.5rem;
}

#btn-check{
    display: block;
    margin:2rem auto auto auto;
    padding:0.5rem 1.5rem;
    font-size:1rem;
    border:1.3px solid var(--border-color);
    border-radius: 0.5rem;
    background-color: var(--darkgreen-color);
    color:white;
}

#error-message{
    text-align: center;
    color:red;
}

.change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
}
.change-table caption {
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
}

th, td {
    border: 2px solid #ECFDF5;
    width: 0%;
    border-collapse: collapse;
    padding: 0.3rem;
    background-color: #D1FAE5;
    ;
}
.social-links
{
  margin-top:2.5rem;
  text-align: center;
  font-size: 2.8rem; 
  
}
.social-links i{
    color:var(--darkgreen-color);
}